/*
 * Empty Stylesheet file.
 */

.navform {
    -fx-background-color:linear-gradient(to top ,#735146,#E3C891);

}
.navbtn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-text-fill:#ffffff;
    -fx-font-size:16px;
    -fx-font-family:"Tahoma";
    -fx-font-type:bold;
    -fx-alignment:CENTER-LEFT;

}

.logoutbutton {
    -fx-background-color:#bda576;
    -fx-cursor:hand;
    -fx-text-fill:#ffffff;
    -fx-font-size:16px;
    -fx-font-family:"Tahoma";
    -fx-font-type:bold;
    -fx-alignment:CENTER-LEFT;
    -fx-background-radius:10px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);

}

.navbtn:hover {
    -fx-background-color: #e3c89188;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
    
}

.navbtn-selected {
    -fx-background-color:#735146;
}

.navbtn:active {
    -fx-background-color:#735146;
}

.logoutbutton:hover {
-fx-background-color:#E3C891;
}

.whitebg{
    -fx-background-color:#FAFAFA;
    -fx-background-radius:8px;
}

.card {
    -fx-background-color: linear-gradient(to bottom right, #a77c6e, #a4926d);
    -fx-background-radius: 10px; 
    -fx-border-radius: 10px; 
    -fx-padding: 10px; 
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0); 
}

.namefield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius:5px;
    -fx-border-color:#000;
    -fx-border-width:.2px;
    -fx-border-radius:1px;
    -fx-font-size:13px;
    -fx-font-family:Tahoma;

}

.choicebox{
    -fx-background-color:rgba(255, 255, 255, 0.838);
    -fx-background-radius:5px;
    -fx-border-color:black;
    -fx-border-width:.2px;
    -fx-border-radius:1px;
}

.table-view{
    -fx-background-color:#C2967F;    
    -fx-padding:0px;
    -fx-text-fill:#ffffff;
    -fx-font-family:Tahoma;
    -fx-background-radius:10px;
}

.table-view .column-header{
    -fx-border-color:linear-gradient(to bottom right, #a77c6e, #a4926d);
    -fx-border-width:0px 0px 0px 0px;
    -fx-border-radius: 7px 7px 7px 7px;
}

.table-view .column-header-background{
    -fx-background-color:#7B5451;
    -fx-padding:3px;
    -fx-text-fill:#ffffff;
    -fx-font-family:Tahoma;
    -fx-background-radius: 7px 7px 0px 0px;
}

.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size:10px;

}

.table-view .column-header-background .label{
    -fx-background-color:transparent;
    -fx-size:12px;
    -fx-text-fill:#ffffff;   
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}

 .table-row-cell:selected .text {
        -fx-fill: rgb(194, 175, 77) ;
 
 }

.table-row-cell:odd{
    -fx-background-color: #fee6b411;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #7d562011;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #a77c6e, #a4926d);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #a77c6e, #a4926d);
}

.table-row-cell:highlighted {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}


.addbutton{
    -fx-background-color:#70dc2c;
    -fx-cursor:hand;
    -fx-text-fill:#ffffff;
    -fx-font-size:12px;
    -fx-font-family:"Tahoma";
    -fx-font-type:bold;
    -fx-alignment:CENTER-LEFT;
    -fx-background-radius:3px;
}

.addbutton:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);
}

.deletebutton{
    -fx-background-color:#fa3455;
    -fx-cursor:hand;
    -fx-text-fill:#ffffff;
    -fx-font-size:12px;
    -fx-font-family:"Tahoma";
    -fx-font-type:bold;
    -fx-alignment:CENTER-LEFT;
    -fx-background-radius:3px;
}

.deletebutton:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);
}

.pdfbutton{
    -fx-background-color:#ba2740;
    -fx-cursor:hand;
    -fx-text-fill:#ffffff;
    -fx-font-size:12px;
    -fx-font-family:"Tahoma";
    -fx-font-type:bold;
    -fx-alignment:CENTER-LEFT;
    -fx-background-radius:3px;
}

.pdfbutton:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);
}

.updatebutton{
    -fx-background-color:#1a1a85;
    -fx-cursor:hand;
    -fx-text-fill:#ffffff;
    -fx-font-size:12px;
    -fx-font-family:"Tahoma";
    -fx-font-type:bold;
    -fx-alignment:CENTER-LEFT;
    -fx-background-radius:3px;
}

.updatebutton:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);
}

.clearbutton{
    -fx-background-color:#611196;
    -fx-cursor:hand;
    -fx-text-fill:#ffffff;
    -fx-font-size:12px;
    -fx-font-family:"Tahoma";
    -fx-font-type:bold;
    -fx-alignment:CENTER-LEFT;
    -fx-background-radius:3px;
}

.clearbutton:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);
}

.nilaifield{
    -fx-background-color:white;
    -fx-background-radius:5px;
    -fx-border-color:#000;
    -fx-border-width:.2px;
    -fx-border-radius:5px;
    -fx-font-size:13px;
    -fx-font-family:Tahoma;
}